.example-stretched-tabs {
    max-width: 800px;
  }

.container{
    flex-direction:column;
    justify-content:space-between;
}
mat-tab{
    height: 100%;
}
.header{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 2%;
    background-color:dodgerblue;
}